{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        io.modelcontextprotocol.sdk/mcp {:mvn/version "0.8.0"}
        org.slf4j/slf4j-nop {:mvn/version "2.0.3"}
        nrepl/nrepl {:mvn/version "1.3.1"}
        datascript/datascript {:mvn/version "1.7.5"}
        datascript-transit/datascript-transit {:mvn/version "0.3.0"
                                               :exclusions  [datascript/datascript]}
        com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.15.2"}}
 :aliases
 {:mcp-visual {:exec-fn datascript-mcp.visualization/viz-mcp-server}
  :mcp-data-viz {:exec-fn datascript-mcp.data-viz-mcp/mcp-server}
  :mcp-filesystem {:exec-fn datascript-mcp.filesystem/mcp-server}
  :mcp
  {:exec-fn datascript-mcp.core/mcp-server}

  :test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :build {:deps {io.github.clojure/tools.build
                 {:git/tag "v0.9.2" :git/sha "fe6b140"}
                 slipset/deps-deploy {:mvn/version "0.2.0"}}
          :ns-default build}
  :neil {:project {:name datascript-mcp/datascript-mcp}}}}
